<h1 class="text-3xl font-bold text-green-600 mb-4">Principal Content</h1>
<p class="text-gray-700">This interactive homepage features animations and functionalities, such as a template
    for a system with a scalable sidebar without using pre-built templates, following a pure style with
    customization from scratch, specifically to showcase raw skills. In the Sidebar the <b>Portfo A</b> section,
    the <b>Demos</b> option, there we can find cards with demos in development. By the way, this site is still
    under construction, but it serves as a good base of the
    <span class="highlight-word relative inline-block">design</span> and
    <span class="highlight-word relative inline-block">development</span> that can be created.
</p>